ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
  border-right:1px solid #bbb;
}

li:last-child {
  border-right: none;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}
section {
        padding: 20px;
        margin: 20px;
        background-color: #c3d4e5;
        border: 6px solid #744253;
}
body {
        background-image: url("https://www.solidbackgrounds.com/images/website/950x534/950x534-blue-abstract-noise-free-website-background-image.jpg");
        font-family: sans-serif;
        font-size: 1.3em;
    }
 h1 {
        color: #13315C;
    }
    h2 {
      font-size: 100%;
      color: #13315C;
    p {
        color: #134074;
      text-align:center;
    }
